{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "semi": ["error", "never"],
        "quotes": [2, "single"],
        "@typescript-eslint/no-var-requires": 0,
        "@typescript-eslint/no-explicit-any": ["off"],
        "indent": "off",
        "@typescript-eslint/indent": ["error", "tab"]
    }
}
